* {
    margin: 0;
    padding: 0;
    font-family: 'Mali', cursive;
}
#score {
    font-size: 30px;
    position: relative;
    top: -500px;
    left: 700px;
    color: black;
}
#game-over {
    background-color: #c18848;
    position: relative;
    border-radius: 50px;
    top: -400px;
    left: 300px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}
#game-over-title {
    position: absolute;
    top: -40%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 40px
}
#score2 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FORM CSS */
form {
    display: flex;
    flex-direction: column;
}
input {
    border-radius: 10px;
    font-size: 15px;
    height : 30px;
    margin-bottom: 10px;
}
#savescore {
    margin-bottom: 10px;
}
#game-over-options {
    display: flex;
    flex-direction: column;
    position: relative;
}

#savescore {
    border: 2px solid #7b572d;
    background-color: #dcbe5c;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}
#savescore:disabled {
    cursor: default !important;
    background-color: #dcbe5c !important;
}
#savescore:hover {
    background-color: #f2d472;
    cursor: pointer;
}
/* GAME OPTIONS */
#options {
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/img/background.png");
}
#start {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 30PX;
    background-color: #DCBE5C;
    border: 2px solid #7B572D;
    border-radius: 30px;
    font-weight: bold;
    margin: 10px;
}
#instruction {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 30PX;
    background-color: #DCBE5C;
    border: 2px solid #7B572D;
    border-radius: 30px;
    font-weight: bold;
    margin: 10px;
}
#start:hover {
    background-color: #F2D472;
    cursor: pointer;
}
#instruction:hover {
    background-color: #F2D472;
    cursor: pointer;
}
#back:hover {
    background-color: #F2D472;
    cursor: pointer;
}
#instructionQuote {
    font-size: 30px;
    font-weight: bold;
    display: none;
}
#highScoreBtn {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 30PX;
    background-color: #DCBE5C;
    border: 2px solid #7B572D;
    border-radius: 30px;
    font-weight: bold;
    margin: 10px;
}
#highScoreBtn:hover {
    background-color: #F2D472;
    cursor: pointer;
}
#back {
    position: absolute;
    top: 2%;
    left: 2%;
    display: none;
    background-color: #DCBE5C;
    border: 2px solid #7B572D;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
}
#highScoreList {
    padding: 0;
    list-style: none;
    font-size: 25px;
    font-weight: bold;
}

